.lesson1{
    height: 100%;
    width: 100%;
}
#img{
    width: 200px;
    height: 500px;
    margin: 200px auto 0 auto;
    background: url(image/bag.png) center no-repeat;
    background-size: 80%;
}
#img.isbort{
    background: url(image/bag-burst.png) center no-repeat;
}
.jdt_big{
    width: 200px;
    height: 50px;
    border: solid 2px red;
    margin: 10px auto 0 auto;
}
.jdt{
    height: 100%;
    background-color: red;
}
.btn{
    width: 200px;
    margin: 10px auto 0 auto;
    text-align: center;
}
.btn button{
    margin: 10px;
}